// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$white: #ffffff;
$black: #272727;

// Specific
// =============================================================================
// Link
$link-color: $black;
$link-focus-color: $black;
$link-hover-color: $white;
// Selection
$selection-text-color: $white;
$selection-background-color: #89c8f5;

// Social Colors
// =============================================================================
$facebook-color: #3b5998;
$instagram-color: #e1306c;
$youtube-color: #cd201f;
$twitter-color: #1da1f2;

// Customs
$beige: #d4c9c9;
