// ==========================================================================
// Utilities / Widths
// ==========================================================================

/// Which fractions would you like in your grid system(s)?
/// By default, the boilerplate provides fractions of one whole, halves, thirds,
/// quarters, and fifths, e.g.:
///
/// @example css
///   .u-1/2
///   .u-2/5
///   .u-3/4
///   .u-2/3
$widths-fractions: 1 2 3 4 5 6 !default;

@include widths($widths-fractions);

.u-1\/2\@from-small {
  @media (min-width: $from-small) {
    width: span(1/2);
  }
}

.u-1\/3\@from-medium {
  @media (min-width: $from-medium) {
    width: span(1/3);
  }
}

.u-1\/2\@from-medium {
  @media (min-width: $from-medium) {
    width: span(1/2);
  }
}

.u-2\/6\@from-medium {
  @media (min-width: $from-medium) {
    width: span(2/6);
  }
}

.u-3\/6\@from-medium {
  @media (min-width: $from-medium) {
    width: span(3/6);
  }
}

.u-4\/6\@from-medium {
  @media (min-width: $from-medium) {
    width: span(4/6);
  }
}

.u-6\/6\@from-medium {
  @media (min-width: $from-medium) {
    width: span(6/6);
  }
}
